<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" th:href="@{/images/beer.png}" />
<title>BomBar</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/algaworks.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/application.css}" />

</head>
<body class="aw-layout-simple-page" style="background-color: #000000;">

	<div class="aw-layout-simple-page__container">

		<form method="POST" th:object="${usuario}"
					th:action="@{/cadastroUsuario}">
			<div class="aw-simple-panel">
				<img src="/images/logo.png" />

				<div class="aw-simple-panel__message">Por favor, informe os
					dados abaixo.</div>

				<div class="aw-simple-panel__box">
					<div class="alert alert-dismissible fade in"
						th:if="${!#strings.isEmpty(mensagem)}"
						th:classappend="${#strings.containsIgnoreCase(mensagem, 'erro') ? 'alert-danger' : 'alert-success'}">
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong th:text="${#strings.replace(mensagem, 'Erro! ', '')}"></strong>
					</div>

					<div class="form-group  has-feedback"
						th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<input id="nome" type="text" class="form-control  input-lg"
							placeholder="Seu nome" name="nome" th:field="*{nome}" /> <span
							th:if="${#fields.hasErrors('nome')}" class="help-block">Campo
							obrigatório</span>
					</div>

					<div class="form-group  has-feedback">
						<input type="email" class="form-control  input-lg"
							placeholder="Seu e-mail" name="login" /> <span
							class="form-control-feedback" aria-hidden="true"></span>
					</div>

					<div class="form-group  has-feedback">
						<input type="password" class="form-control  input-lg"
							placeholder="Sua senha" name="senha" /> <span
							class="form-control-feedback" aria-hidden="true"></span>
					</div>
					<div class="row">

						<div class="col-sm-6">
							<a href="/login" class="btn btn-primary btn-lg aw-btn-full-width">Cancelar</a>
						</div>

						<div class="col-sm-6">
							<button class="btn btn-success btn-lg aw-btn-full-width">Cadastrar</button>
						</div>
					</div>

				</div>

			</div>

			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</form>

	</div>
	<script th:src="@{/js/template/vendors.js}"></script>
	<script th:src="@{/js/template/bombar.js}"></script>
</body>
</html>