<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" th:href="@{/images/beer.png}" />
<title>BomBar</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/vendors.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/algaworks.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/application.css}" />

</head>
<body class="aw-layout-simple-page" style="background-color: #000000;">

	<div class="aw-layout-simple-page__container">

		<form method="POST" th:object="${usuario}"
					th:action="@{/cadastroUsuario}">
			<div class="aw-simple-panel">
				<img src="/images/logo.png" />

				<div class="aw-simple-panel__message">Por favor, informe os
					dados abaixo.</div>

				<div class="aw-simple-panel__box">
					<div class="alert alert-dismissible fade in"
						th:if="${!#strings.isEmpty(mensagem)}"
						th:classappend="${#strings.containsIgnoreCase(mensagem, 'erro') ? 'alert-danger' : 'alert-success'}">
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong th:text="${#strings.replace(mensagem, 'Erro! ', '')}"></strong>
					</div>

					<div class="form-group  has-feedback"
						th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<input id="nome" type="text" class="form-control  input-lg"
							placeholder="Seu nome" name="nome" th:field="*{nome}" /> <span
							th:if="${#fields.hasErrors('nome')}" class="help-block">Informe seu nome</span>
					</div>
					
					<div class="form-group has-feedback" th:classappend="${#fields.hasErrors('grupo')} ? 'has-error'">
						<select id="grupo" class="form-control input-lg" name="grupo" th:field="*{grupo}">
							<option value="">Selecione</option>
							<option th:each="gp : ${grupo}" th:value="${gp}" th:text="${gp.descricao}"></option>
						</select><span th:if="${#fields.hasErrors('grupo')}" class="help-block">Informe o seu grupo</span>
					</div>

					<div class="form-group  has-feedback" th:classappend="${#fields.hasErrors('username')} ? has-error">
						<input id="username" type="email" class="form-control  input-lg"
							placeholder="Seu e-mail" name="username" th:field="*{username}" /> <span
							th:if="${#fields.hasErrors('username')}" class="help-block">Informe seu e-mail</span>
					</div>

					<div class="form-group  has-feedback" th:classappend="${#fields.hasErrors('password')} ? has-error">
						<input id="password" type="password" class="form-control  input-lg"
							placeholder="Sua senha" name="password" th:field="*{password}" /> <span
							th:if="${#fields.hasErrors('password')}" class="help-block">Informe sua senha</span>
					</div>
					
					<div class="form-group has-feedback row">
						<div class="col-sm-2">
							<label style="margin-top: 12px; margin-left: 2px" for="enabled">Ativo?</label>
						</div>
  					 	<div class="col-sm-3">
	  						<label class="switch" style="margin-top: 5px">
	  							<input id="enabled" type="checkbox" th:checked="${enabled}"/>
	  							<span class="slider round"></span>
							</label>
  						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<a href="/login" class="btn btn-primary btn-lg aw-btn-full-width">Cancelar</a>
						</div>

						<div class="col-sm-6">
							<button class="btn btn-success btn-lg aw-btn-full-width">Cadastrar</button>
						</div>
					</div>
				</div>
			</div>

			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</form>

	</div>
	<script th:src="@{/js/template/vendors.js}"></script>
	<script th:src="@{/js/template/bombar.js}"></script>
</body>
</html>