<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<aside class="aw-layout-sidebar  js-sidebar" th:fragment="menu">
		<div class="aw-layout-sidebar__content">

			<nav class="aw-menu  js-menu">
				<ul class="aw-menu__list">

					<li sec:authorize="hasRole('PG_BARES')" class="aw-menu__item is-active"><a href="/bares"> <i
							class="fa  fa-fw  fa-beer"></i><span>Bares</span>
					</a></li>
					
					<li sec:authorize="hasRole('PG_BUSCA_BARES')" class="aw-menu__item is-active"><a href="/"> <i
							class="fa  fa-fw  fa-search"></i><span>Buscar bares</span>
					</a></li>

				</ul>
			</nav>

		</div>
	</aside>
</body>
</html>